body {
	font-family: 'calibri';
	color: #262626;
	background: #f2f2f2; 
	font-size: 1em;
	line-height: 1.5em;
    height: 100%;
    margin: 0;
	padding: 0;
}
    
*{
    box-sizing: border-box;   
}